<div class="container mt-5">
  <form action="" class="form-group">
    <input
      type="text"
      (input)="BuscarProductos($event)"
      placeholder="Busque un Producto..."
      class="form-control"
    />
  </form>
  <button routerLink="/agregar-productos" class="btn btn-primary">
    Agregar
  </button>
  <div class="row mt-4">
    <div class="col-sm-3 ml-3 mt-3" *ngFor="let productoshtml of productos">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            Producto: {{ productoshtml.nombreProducto }}
          </h5>
          <h5 class="card-title">
            {{ productoshtml.productoId }}
          </h5>
          <h6 class="card-subtitle">
            Precio: {{ productoshtml.precio | currency: "$" }}
          </h6>
          <p class="card-text">Cantidad: {{ productoshtml.stock }}</p>
          <p class="card-text">Descripcion: {{ productoshtml.descripcion }}</p>
          <button (click)="agregar(productoshtml)" class="btn btn-primary">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
