#clientes {
  border: 1px solid red;
  margin-top: 10px;
}
#proudctos {
  border: 1px solid green;
  margin-top: 10px;
}
#limpiarTodo {
  margin-left: 10px;
}
#eliminarProductos {
  margin-left: 10px;
}
#eliminarClientes {
  margin-left: 10px;
}
