<div class="container mt-5">
  <form action="" class="form-group">
    <input
      type="text"
      (input)="BuscarClientes($event)"
      placeholder="Busque un Cliente..."
      class="form-control"
    />
  </form>
  <button routerLink="agregar-clientes" class="btn btn-primary">Agregar</button>
  <div class="row mt-4">
    <div class="col-sm-3 ml-3 mt-3" *ngFor="let clienteshtml of clientes">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            {{ clienteshtml.nombre }} {{ clienteshtml.apellido }}
          </h5>
          <h6 class="card-subtitle">{{ clienteshtml.clienteId }}</h6>
          <p class="card-text">
            {{ clienteshtml.direccion }}
          </p>
          <button (click)="irAproducto(clienteshtml)" class="btn btn-primary">
            Seleccionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
